services:
  reverse-proxy:
    image: caddy:latest
    container_name: reverse-proxy
    ports:
      - "127.0.0.1:80:80"
      - "127.0.0.1:443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy-data:/data
      - caddy-config:/config
    depends_on:
      - web-server
  web-server:
    build:
      context: .
    container_name: web-server
    working_dir: /app
    volumes:
      - ./public:/app/public
    expose:
      - "8000"

volumes:
  caddy-data:
  caddy-config:
