services:
  reverse-proxy:
    image: caddy:latest
    container_name: reverse-proxy
    ports:
      - "127.0.0.1:443:443"
      - "127.0.0.1:80:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy-data:/data
      - caddy-config:/config
    depends_on:
      - web-server
  web-server:
    build: .
    container_name: web-server
    expose:
      - "4567"

volumes:
  caddy-data:
  caddy-config:
